


.rsvp {
  position: relative; /* Muhimu: Inatengeneza mpaka wa confetti */
  overflow: hidden;    /* Inazuia confetti zisivuje kwenda components zingine */
  text-align: center;
  margin-top: 2rem;
  padding: 3rem 1rem;
  background-color: rgba(255, 255, 255, 0.581); /* Hakikisha ina background isiyoonekana kupenya */
  border-radius: 15px;
  z-index: 1;
}

/* Hii ndiyo inayozuia confetti isitoke nje ya box la RSVP */
.confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none; /* Inaruhusu ku-click vitu vilivyo chini yake */
  z-index: 0;
}

.rsvp-content {
  position: relative;
  z-index: 2; /* Inakaa juu ya confet */
}

.rsvp h2 {
  font-family: "Inter", sans-serif ;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.rsvp-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.yes-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  background-color: #df3d07;
  color: white;
  font-weight: 200;
}

.yes-btn:disabled {
  background-color: #3ec687a1;
  cursor: not-allowed;
}

.yes-btn:hover:not(:disabled) {
  transform: scale(1.05);
  background-color: #bf2f05;
}

.no-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #999;
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}

.success-box {
  margin-top: 1.5rem;
  padding: 14px;
  background: #eafff2;
  border: 1px solid #86efac;
  border-radius: 10px;
  color: #065f46;
  font-weight: 600;
  animation: fadeUp 0.4s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}